# Created by https://www.gitignore.io/api/linux
# Edit at https://www.gitignore.io/?templates=linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# define by user
.ICEauthority
.IdeaIC2019.1/
.appletviewer
.bash_history
.bash_logout
.cache/
.config/QtProject.conf
.config/VirtualBox/
.config/chromium/
.config/composer/
.config/containers/
.config/dconf/
.config/dleyna-renderer-service.conf
.config/enchant/
.config/evolution/
.config/gedit/
.config/gnome-boxes/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/homebank/
.config/ibus/
.config/kdeglobals
.config/kminesrc
.config/libreoffice/
.config/libvirt/
.config/mimeapps.list
.texlive2018/
.config/nautilus/
.config/nvim/
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yelp/
.xdvirc
.devassistant/
.eclipse/
.esd_auth
.fehbg
.gnupg/
.gradle/
.grip/
.gtkrc-2.0
.hgexternalcache/
.icons/
.ipython/
.java/
.jupyter/
.last_sensors
.lesshst
.local/
.m2/
.mozilla/
.mysql_history
.netrc
.nmcli-history
.openjfx/
.p2/
.pki/
.psql_history
.python_history
.rednotebook/
.screenlayout/
.ssh/
.subversion/
.swj
.swk
.swl
.swn
.swm
.swo
.swp
.swt/
.tooling/
.var/
.vim/.netrwhist
.viminfo
.viminfo.tmp
.viminfy.tmp
.viminfz.tmp
.vscode-oss/
.wget-hsts
Documents/
Downloads/
Mail/
PREPs/
PRIOs/
Pictures/
bin/
examples/
javafx/
jtcr10/
oca/
quiz/
starry-themes
testRoom/
textutor/
workspace/
.config/gconf/
ocaold/
.config/gtk-3.0
