! This is the resources file that is loaded when
! user log in, as well as for the login screen
! ============================================

! Fix the Xft dpi to 96; this prevents tiny fonts
! or HUGE fonts depending on the screen size.
! ===========================================
	Xft.dpi:	96

! hintstyle: medium means that (for Postscript fonts) we
! position the stems for maximum constrast and consistency
! but do not force the stems to integral widths. hintnone,
! hintslight, and hintfull are the other possibilities.
! =====================================================
	Xft.hintstyle:	hintmedium
	Xft.hinting:	true

! URxvt configuration
! ===================
!	  Font
!	  ====
		URxvt.font:	xft:D2Coding:size=9

!	  Disable ISO 14755 unicode input
!	  ===============================
		URxvt.iso14755:	false
		URxvt.iso14755_52:	false

!	  Disable key bindings
!	  ====================
		URxvt.keysym.C-M-c:	builtin-string:
		URxvt.keysym.C-M-v:	builtin-string:

!	  Enabled key bindings
!	  ====================
		URxvt.keysym.C-S-0x43:	eval:selection_to_clipboard
		URxvt.keysym.C-S-0x56:	eval:paste_clipboard
		URxvt.keysym.C-0xff55:	\033[5;5~
		URxvt.keysym.C-0xff56:	\033[6;5~
		URxvt.keysym.Home:	\033[H
		URxvt.keysym.End:	\033[F

!	  Scale fonts
!	  ===========
		URxvt.keysym.C-S-plus:	font-size:increase
		URxvt.keysym.C-S-underscore:	font-size:decrease
		URxvt.keysym.C-0:	font-size:reset

!	  Color
!	  =====
		URxvt.foreground:	White
		URxvt.background:	Black
		URxvt.scrollBar:	false
		URxvt.color0:	Black
		URxvt.color1:	Red3
		URxvt.color2:	Green3
		URxvt.color3:	Yellow3
		URxvt.color4:	Blue3
		URxvt.color5:	Magenta3
		URxvt.color6:	Cyan3
		URxvt.color7:	AntiqueWhite
		URxvt.color8:	Grey25
		URxvt.color9:	Red
		URxvt.color10:	Green
		URxvt.color11:	Yellow
		URxvt.color12:	Blue
		URxvt.color13:	Magenta
		URxvt.color14:	Cyan
		URxvt.color15:	White
