! This is the global resources file that is loaded when
! all users log in, as well as for the login screen

! Fix the Xft dpi to 96; this prevents tiny fonts
! or HUGE fonts depending on the screen size.
Xft.dpi: 96

! hintstyle: medium means that (for Postscript fonts) we
! position the stems for maximum constrast and consistency
! but do not force the stems to integral widths. hintnone,
! hintslight, and hintfull are the other possibilities.
Xft.hintstyle: hintmedium
Xft.hinting: true

! URxvt configuration
URxvt.foreground: White
URxvt.background: Black
URxvt.scrollBar: false
URxvt.color0: Black
URxvt.color1: Red3
URxvt.color2: Green3
URxvt.color3: Yellow3
URxvt.color4: Blue3
URxvt.color5: Magenta3
URxvt.color6: Cyan3
URxvt.color7: AntiqueWhite
URxvt.color8:  Grey25
URxvt.color9:  Red
URxvt.color10: Green
URxvt.color11: Yellow
URxvt.color12: Blue
URxvt.color13: Magenta
URxvt.color14: Cyan
URxvt.color15: White
